- content_for :title do
  %title #{@meta::NAME} :: Pack Results :: #{slot}

- content_for :menu do
  = menu(nil)

%h1 Pack Results

%p
  Unfortunately, your data was successfully added to our DB.

%table#packresults(border='1' cellpadding='5')
  %tr
    %th Slot
    %th Password
    %th URL
    %th URL With Password
  %tr
    %td #{slot}
    %td #{pw}
    %td
      %a{href: url("/#{slot}"), target: "_blank"} #{url("/#{slot}")}
    %td
      %a{href: url("/#{slot}?pw=#{pw}"), target: "_blank"} Check
