- content_for :title do
  %title #{project} :: Pack

- content_for :script do
  %script(type='text/javascript' src='/js/vendor/jquery-1.7.2.min.js')
  %script(type='text/javascript' src='/js/vendor/jquery.cookie.js')
  %script(type='text/javascript' src='/js/pack.js')
  
= menu('Pack')
  
%h1 Pack

%span#warning

%noscript
  %p
    %b Dude, this page requires JavaScript.

%form#pack(method='post' action='/b/pack')
  - if flash[:error]
    %p.error
      %b Error:
      = flash[:error]
  %p
    Type URL or just any text (#{data_max} bytes max):
    %br/
    %textarea#data(name='data' rows='10' cols='80')
      = my_session[:data]
    %br/
    Password is mandatory (#{pw_min} bytes min):
    %input(name='pw' type='text' value="#{my_session[:pw]}")

  %p
    = drawCaptcha('white')

  %p
    %input(type='submit')
    %input(type='reset')
