- content_for :title do
  %title #{project} :: Unpack

- content_for :script do
  %script(type='text/javascript' src='/js/vendor/jquery-1.7.2.min.js')
  %script(type='text/javascript' src='/js/unpack.js')

- content_for :menu do
  = menu('Unpack')
    
%h1 Unpack

- if flash[:error]
  .alert.alert-error
    %b
      Error:
    = flash[:error]
    
- if !data
  %form#unpack
    %p
      To display slot #
      %span#slot<>
        = slot
      , type its password:
      %input(type='text' id='pw')
      %input(type='submit')

%form
  %p
    = find_and_preserve do
      %textarea#data(rows='10' cols='80')
        = data

%form#unpackother
  %fieldset
    %legend
      Another Query
    Slot #
    %input(type='text' id='slot')
    Password:
    %input(type='text' id='pw')
    %input(type='submit')
    %input(type='reset')
